# This and other settings can be explored in settings.py
APP_DEBUG="true"

# Feel free to experiment with different models.
# This is the default one, which supports reading files directly.
RESEARCH_AGENT_MODEL_NAME="openai:gpt-5.6-luna"

# This makes the agent use a real implementation.
# Otherwise we'll just respond with hardcoded strings.
OPENAI_API_KEY="REPLACE-ME"
RESEARCH_AGENT_DRIVER="fake" # Replace this with "llm" once you've configured everything

# This sends logs to our local OTEL container
ENABLE_OTEL="true"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_ENDPOINT="http://127.0.0.1:4318"
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE="delta"
